[submodule "asteroids"]
	path = asteroids
	url = https://github.com/GhostRabbit/asteroids
[submodule "SledgeMan"]
	path = SledgeMan
	url = https://github.com/GhostRabbit/SledgeMan
[submodule "PlanetarySystem"]
	path = PlanetarySystem
	url = https://github.com/GhostRabbit/PlanetarySystem
[submodule "NeuralDojo"]
	path = NeuralDojo
	url = https://github.com/GhostRabbit/NeuralDojo
